<h2>Your Cart</h2>
<%= link_to "Empty Cart", cart_clear_path %>

<ul>
  <% @cart.each do |id, qty| %>
      <% product = Product.find_by_id(id) %>
    <li>
      <%= link_to product.name, product %>
    </li>
      <% end %>
</ul>