<h2 class="text-center"><%= "#{@user.name} " + "#{@user.last_name}" %></h2>

<div class="user-info">
    <p>
      <strong><span></span>Member Since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %>
    </p>

    <p>
      <strong><span class="fa fa-envelope-o"></span></strong> <%= @user.email %>
    </p>

    <p>
        <strong>Purchases:</strong> 0
    </p>
</div>
