<h2 class="text-center"><%= "#{@user.name} " + "#{@user.last_name}" %></h2>
<p class="text-center">
  <strong><span class="fa fa-envelope-o"></span></strong> <%= @user.email %>
  </p>
  <p class="text-center">
    <strong><span class="glyphicon glyphicon-piggy-bank"></span></strong> Purchases: 0
  </p>