<h1 class="text-center"><%= "Category: " + @category.name %></h1>
<div align="center">
  <% if logged_in? && current_user.admin? %>
      <div class="row">
        <%= link_to "Edit Category Name", edit_category_path(@category) %>
      </div>
  <% end %>
</div>