<h2 class="product text-center"><%= @category.name %></h2><small>(<%= pluralize @category.products.count, "product" %>)</small>
<div align="center">
  <% if logged_in? && current_user.admin? %>
      <div class="row">
        <%= link_to "Edit Category Name", edit_category_path(@category) %>
      </div>
  <% end %>
</div>