<div class="col-xs-6">

    <%= image_tag @product.image.url(:medium) %>
</div>
<div class="col-xs-6">
    <h3><%= @product.name %></h3>


  <p>Description: <%= @product.description %></p>


  <strong>Member Price:</strong> <%= number_to_currency @product.price %>
</div>