<footer>
  <div class="col-xs-6">
    <ul>
      <li>About</li>
      <li>Privacy</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul>
      <li>Social Icons</li>
    </ul>
  </div>
  <p>
    Copyright &copy; tinito <%= Time.now.strftime("%Y") %>. All rights reserved.
  </p>
</footer>